    <!-- About Section -->
    <section id="contexte" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Une industrie en plein essor</h2>
                <p>Le marché de la production virtuelle temps-réel est en passe de devenir un secteur clé des ICC (industries culturelles et créatives)</p>
                <img class=img-responsive src="https://media.gettyimages.com/photos/studio-staff-showcase-virtual-settings-at-garden-studios-on-march-23-picture-id1308645546?k=20&m=1308645546&s=612x612&w=0&h=203br6GskWvXvSWqqtSy_NLMH7QLSzDKDTMnHvXKUks="/>
                <p></p>
                <p>Le gain de temps et de productivité est assuré par la mise en place de technologies issues du jeu vidéo, de la simulation virtuelle, ainsi que par des nouvelles méthodes de travail permettant de mutualiser les ressources et compétences au sein d'un espace commun en réseau</p>
                <img class=img-responsive src="https://media.gettyimages.com/photos/overhead-view-of-students-working-on-electrical-equipment-at-table-in-picture-id961222062?k=20&m=961222062&s=612x612&w=0&h=TwOk5VNup053094sKCvB1gn3VYj52sdY7tKsPq43vu0="/>
                <p></p>
                <h2>Le défi de la pandémie</h2>
                <p>Depuis 2020, les situations sanitaires provoquées par les multiples crises pandémiques accélèrent une tendance observée depuis plusieurs années : le travail à distance (ou remote working)</p>
                <img class=img-responsive src="https://media.gettyimages.com/photos/young-man-distracted-while-on-video-call-from-his-home-during-picture-id1220067952?k=20&m=1220067952&s=612x612&w=0&h=pSNuKN2Sd1W7v37zL1AmG3q3fn0n0rjjKpuDQhl50Hs="/>
                <p></p>
                <p>Complétées par les fermetures des espaces de rencontre physiques, ces nouvelles contraintes confirment la nécessité de repenser nos modes d'échanges à l'heure d'une « archipelisation » de la société, subie par défaut plus qu'assimilée.</p>
                <img class=img-responsive src="https://media.gettyimages.com/photos/coronavirus-outbreak-on-a-world-map-picture-id1213355637?k=20&m=1213355637&s=612x612&w=0&h=Vxjdz6EfHUM4F96pznphzfYm3-gjFBK-NsiOypfMAcw="/>
            </div>
        </div>
    </section>
